* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "gantura";
    src: url(./font/Gantura\ Light.ttf);
}


.container {
    background-color: #000000;
    height: 100%;
    display: grid;

    grid-template-columns: 20% 30% 20% 25%;


    grid-template-rows: 15% 20% 30% 15%;


    gap: 10px;

    justify-content: center;
    padding: 10px;

}


.box {
    border-radius: 10px;
    background-color: #161618;
    color: white;
}

#box_1 {
    grid-row: 1/3;
    overflow: hidden;
}

#box_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#box_2 {
    background-color: #161618;
    grid-row: 1/3;
}


#box_2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



#box_3 {
    background-color: #161618;
    grid-row: 1/4;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 20px;
}

#box_3 .child_1{
    
    height: 40px;
    position: relative;
    border-radius: 20px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

#box_3 .child_1 .icon_container{
    /* border: 1px solid white; */
    width: 50px;
    height: 50px;
}
#box_3 .child_1 .icon_container img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}




.circle{
    background-color: #ad5cfd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;

    right: 6px;
    bottom: 1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    
}


#box_3 .child_1:hover{
    background-color: #29282d;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#box_3 .child_1:hover .circle{
    opacity: 1;
}


#box_4 {
    background-color: #161618;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px;
}


#box_4 .left_container{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.left_container p{
    font-size: 14px;
}

.image_container{
    width: 50px;
    height: 40px;
}

.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#right_container{
    border-left: 1px solid gray;
    padding: 10px;
}

#box_5 {
    background-color: #161618;
    grid-row: 2/ span 2;
    overflow: hidden;
}


#box_5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#box_6 {
    background-color: #161618;
    grid-row: 3/ span 3;
    border: 2px solid #d6f156;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}



#box_6 .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


#box_6 .details h1{
    font-family: "gantura";
    font-size: 120px;
    letter-spacing: 5px;
}
#box_6 .details p{
   width: 80%;
   text-align: left;
   color: #8f5cc2;
}


.line{
    width: 100%;
    height: 1px;
    background-color: gray;
}


.code_details_box_1{
    /* border: 1px solid green; */
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.bit_con{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 10px;
}

.bit_con img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.code_details_box_1 p{
    text-align: left;
    width: 70%;
}

.barcode_cont{
    width: 100%;
    height: 50px;
}

.barcode_cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#box_7 {
    background-color: #161618;
    grid-row: 3/4;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 15px;
}


#box_7 .address {
    /* border: 1px solid blue; */
    width: 90%;
    height: 100px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;

}

#box_7 .address .map_icon {
    width: 40px;
    height: 40px;

    text-align: center;

    background-color: yellow;
    border-radius: 50%;
    color: black;
    font-size: 35px;
}

#box_7 .address .details {
    display: flex;
    flex-direction: column;

}

#box_7 .address .details a {
    color: gray;
    text-decoration: none;
}




#box_8 {
    background-color: #161618;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


#box_8 .child {
    height: 100%;
    width: 80px;
    /* border: 1px solid red; */
}


#box_8 .child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box_9 {
    background-color: #d7f257;
    grid-row: 5/6;
    color: black;

    padding: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


#box_9 .barcode {
    height: 100%;
    width: 20%;
}


#box_9 .barcode img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#box_9 .details {
    height: 100%;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
}

#box_9 .details .arrow {
    font-size: 35px;
    position: absolute;

    top: 0;
    right: 0;
}


#box_9 .details h4 {
    font-weight: 800;
}

#box_9 .details p {
    font-weight: 200;
    width: 70%;
}

#box_10 {
    background-color: #fefefe;
    grid-row: span 2;
    grid-column: span 2;

    color: black;
    display: grid;

    grid-template-columns: 60% 40%;
}

#box_10 .left_container{
    
    padding: 2px;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 10px;
}

#box_10 .left_container p{
    text-align: left;
}

#box_10 .right_conatainer{
    
    padding: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}


#box_10 .right_conatainer .top_cont h1{
    font-size: 70px;
}
#box_10 .right_conatainer .top_cont .star {
    font-size: 25px;
    color: yellow;
}

.btn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #914ae6;
    border-radius: 10px;
    color: white;
}